<h2>this is the custom helpers page</h2>

{{favoriteTeam teams.[0] data.subdata.thevalue}}
{{{favoriteTeam teams.[0] data.subdata.thevalue}}}

<br/>

{{#list teams}}
  {{result}}
  <br/>
  {{count}}
{{/list}}
